.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.blog_img {
    float: left;
    width:42%;
    height:100%;
    border-radius: 5px;
}
.blog_img:hover{
    float: left;
    width:30%;
    height:100%;
    border-radius: 5px;
    box-shadow: 0 0px 6px 0 rgba(0,0,03,0.1);
}

.blog-post{
    width:100%
}

.blog-container {
    padding: 2px 16px;

    position: relative;
}