div#slider .slides {
    position: absolute;
    width: 500%;
    margin: 0;
    height: 300px;
    top:0;
    padding: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slideleft infinite;
}

div#slider .slides img {
    width: 20%;
    float: left;
    padding: 0;
}
