@import url("animations.css");

:root {
  --third-color: grey;
  --primary-heading-color: #003e51;
  --secondary-color: black;
}


@font-face {
  font-family: origo;
  src: url(../fonts/Origo.woff2) format('woff2'), url(../fonts/Origo.woff) format('woff'), url(../fonts/Origo.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container * {
  /* border: 1px solid red; */
  position: relative;
  padding: 10px;
}

.container *:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.4fr 0.3fr 2.3fr 1fr 1fr;
}

.Header {
  grid-column: span 12;
  background: linear-gradient(to bottom, #b7eaff 0%, #bbe6f810 100%);
}

.Navigation {
  grid-column: span 12;
  padding: 0px;

}

.HeroSlider {
  grid-column: span 12;
  width: 100%;
  top: 0;
  overflow: hidden;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.NewsLetterSignup {
  grid-column: span 12;
}

.main-content {
  grid-column: span 12;
}

.footer {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  margin-bottom: 0;
  grid-column: span 12;
  left: 0;
  bottom: 0;
  width: 100%;

}





.title {
  font-weight: 300px;
  font-family: origo, 'Josefin Sans', sans-serif;
  color: var(--primary-heading-color);
  letter-spacing: 2px;
  padding-bottom: 0px;
}

/* Navigation */

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.active {
  display: block;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: bisque solid;
    text-shadow: 0px 1px 6px black;
  }
}

/* General Styles */

.set-center {
  text-align: center;
}

.clear {
  clear: position;
}

.fullscreenover {
  padding: 0;
  margin: 0;
}

.titletext {
  font-size: 2em;
  font-weight: bold;
}

.titletext15 {
  font-size: 1.5em;
  font-weight: bold;
}

.normal-text {
  font-size: 1.2em;
  color: black;
}


.gradient-button {
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
}

.gradient-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}

.button-ds1 {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.button-ds1:hover {
  background-position: right center;
}

.logo-footer {
  height: 50%;
  width: 50%;
}

/* Style inputs */

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.mytextarea {
  max-width: 100%;
  padding: 10px 10px 0 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  border-radius: 0;
  line-height: 2;
  padding:15px;
  padding:30px;
  font-size:1.2em;
  font-family: 'Josefin Sans', sans-serif;
}

.mytextarea:hover , .mytextarea:focus, .mytextarea:active, .mytextarea:focus-within {
  border-bottom: 1px solid rgba(99, 11, 199, 0.452);
  border-radius: 30px;
  line-height: 2;
  padding:30px;
  font-size:1.2em;
  font-family: 'Josefin Sans', sans-serif;
}

.mytextarea::focus{
  border-bottom: 1px solid rgba(99, 11, 199, 0.452);
  border-radius: 30px;
  line-height: 2;
  padding:30px;
  font-size:1.2em;
  font-family: 'Josefin Sans', sans-serif;
}
.myinput{
  background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    font-size:1.2em;
    font-family: 'Josefin Sans', sans-serif;
}
.myinput:hover , .myinput:focus, .myinput:active{
    background-color: transparent;
    border: 1px solid rgba(99, 11, 199, 0.452);
    border-radius: 30px;
    font-size:1.2em;
    font-family: 'Josefin Sans', sans-serif;
 
}

.footer-text{
  color: #37008a;
  text-shadow: 0 0 1px #fffcfc;

}

.round-border{
  border-radius: 30px;
  background-color: transparent;
}


/* Style the container/contact section */
.container-contact {
  background-color: #f2f2f2;
  padding: 0px;
}



.column-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.column-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding: 20px;


}

.footer-copy {
  float: center;
  width: 100;
  margin-top: relative;
  overflow-y: hidden;
  bottom: 0;
  color: whitesmoke;
  text-shadow: 0 0 11px var(--primary-heading-color);
  background-color: #003e5142;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column-50,
  .column-25,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}